*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: MyFont;
    src: url(./TDF_cut-putroe-navisha-kyokm3.otf);
}
body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.signin {
    background-color: #fff;
    display:block;
    padding: auto;
    width: 900px;
    height: 600px;
    border-radius: 15%; 
   margin: 20px;
   overflow: hidden;
    
}
.signin h1{
    font-family: MyFont;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
  display:block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.submit{
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(to right,  #450803, #eb0b0b);
}
.submit:hover{
  background: linear-gradient(to right, #eb0b0b,#450803);
  filter:brightness(1.1);
  transform: scale(1.05);
}
.forgot-pass{
    padding-left: auto;
  margin-top: 15px;
  display: flex;
  justify-self: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  font-family: MyFont;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}   
input{
    border:0px ;
    display: flex;
    justify-self:  center;
    padding: auto;
    height: 25px;
    width: 200px ;
    height: auto;
    padding: 20px;
    text-align: center;
}
p{
    text-align: center;
    font-family: MyFont;
    font-size: 20px;
    font-weight: 500    ;

}
.social-media img{
    display:flex;
    cursor: pointer;
    justify-self: center;
  width: 40px;
  height: 40px;
  border-radius: 45%;
    
}
.social-media {
  text-align: center;
  margin-top: 20px;
}
