body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: radial-gradient(rgb(20, 21, 38));
    font-family: myFont;
}
@font-face {
    font-family: myFont;
    src: url(./TDF_cut-putroe-navisha-kyokm3.otf);}
a{
    text-decoration: none;
    color:white;
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;}
.trangchu h1{
    display: flex;
    align-items: center;
    justify-self: center;
    font-family: myFont;
    font-size: 70px;
}
.trangchu button{
    display: flex;
    align-items: center;
    justify-self: center;
}
.trangchu button{
    width: 180px;
    height: 180px;
    background-color: #092c3f;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    cursor: pointer;
    animation : heartbeat 1.5s infinite;
    box-shadow: 0 0 30px #1b52f8;

}
@keyframes heartbeat {
    0% {
        transform: scale(1);
        box-shadow: 0 0 30px #1b52f8 ;
    } 
    30%{
        transform: scale(1.1);
        box-shadow: 0 0 45px #092c3f ;
    }
    60%{
        transform: scale(1) ;
        box-shadow: 0 0 30px #1b52f8 ;
    }
}
h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
}
a:hover{
    color:rgb(27, 170, 228);
}